<!-- AUTHOR : RAHUL RAMESH -->
<!DOCTYPE html>
<html>

<head>
	<meta http-equiv="content-type" content="text/html; charset=">
	<title>AWS Hackathon</title>

	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="shortcut icon" type="image/png" href="favicon.ico" />

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
	<link rel="stylesheet" href="custStyle.css">

	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body>

	<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>

	<script>
		$(document).ready(function() {
			$('select').material_select();
		});
	</script>
	<!-- <h1>Contact Information</h1> -->
	<nav class="light-blue darken-4" role="navigation">
		<div class="nav-wrapper container"><a id="logo-container" href="#"
				class="brand-logo">Lost in Time</a>
			<ul class="right hide-on-med-and-down">
				<li>
					<a href="#"></a>
				</li>
			</ul>
		</div>
	</nav>

	<div class="container">
        <div class="row"></div>
        <div class="row"> 
            <div class="col s6">
                <h4 style="color: #01579b; text-align: center;"> Input feed </h4>
                <video width="100%" controls>
                    <source src="{{filename}}" type="video/mp4">
                Your browser does not support the video tag.
                </video>
            </div>  
            <div class="col s6">
                <h4 style="color: #01579b; text-align: center;"> Last found at</h4>
                <img width="100%" src='storage/predictions.png'/>
            </div>
        </div>
	</div>


</body>

</html>
