<!-- AUTHOR : RAHUL RAMESH -->
<!DOCTYPE html>
<html>

<head>
	<meta http-equiv="content-type" content="text/html; charset=">
	<title>AWS Hackathon</title>

	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="shortcut icon" type="image/png" href="favicon.ico" />

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
	<link rel="stylesheet" href="custStyle.css">

	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body>

	<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>

	<script>
		$(document).ready(function() {
			$('select').material_select();
		});
	</script>
	<!-- <h1>Contact Information</h1> -->
	<nav class="light-blue darken-4" role="navigation">
		<div class="nav-wrapper container"><a id="logo-container" href="#"
				class="brand-logo">Lost in Time</a>
			<ul class="right hide-on-med-and-down">
				<li>
					<a href="#"></a>
				</li>
			</ul>
		</div>
	</nav>

	<div class="container">
		<div class="row"> </div>
		<div class="row"> </div>
		<div class="row"> </div>

			<form action='/submit' method='POST' enctype='multipart/form-data'>
				<div class="row">
					<div class="input-field col s8">
						<div class="file-field input-field">
							<div class="btn">
								<span>Upload</span>
								<input name="video" accept="video/*" type="file"  required="" aria-required="true">
							</div>
							<div class="file-path-wrapper">
								<input class="file-path validate" type="text"
								placeholder="PDF or Zip file">
							</div>
						</div>
					</div>
				</div>
        
				<div class="row">
					<div class="input-field col s8">
						<button class="btn waves-effect waves-light" type="submit" name="action">Submit
							<i class="material-icons right">send</i>
						</button>
					</div>
				</div>
			</form>
		</div>
	</div>


</body>

</html>
